.hidden {
    display: none;
}

#variants {
    display: flex;
    flex-direction: column;
}

.firstButton {
    padding-top: 20px;
}

.secondButton {
    padding-top: 30px;
}

.highButton {
    width: 250px;
    height: 40px;
    border-style: none;
    background-color: rgb(4, 122, 4);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.questionField {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#question {
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, sans-serif;
    color: black;
}

.answer {
    width: 200px;
    height: 40px;
    border-style: none;
    background-color: rgb(4, 122, 4);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, sans-serif;
}

.textQuestionPadding {
    padding-top: 10px;
}

.leftPadding {
    padding-left: 20px;
}

.dropdownColumn {
    justify-content: flex-start;
}

.finalWindow {
    width: 400px;
    font-size: 14px;
    visibility: hidden;
    position: absolute;
    top: 200px;
}

.congratulations{
    flex-direction: column;
    justify-content: center;
}

.finalP{
    justify-content: center;
}

.selectBlock{
    /* color: forestgreen; */
}

.dropDownAnswerText{
    color: forestgreen;
}
/* 
.selectBlock{
    color: red;
} */